@import 'colors';

.contactus{
    width: 100%;
    height: 100vh;
    background: $second;
    display: flex;
    align-items: center;
    justify-content: center;
    
    >main{
        width: 70%;
        height: 90vh;
        background: $first;
        border-radius: 0 200px 200px 0;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        padding-top: 4rem;
        align-items: center;
        >form{
            display: grid;
            grid-template-columns: 2fr auto;
            grid-template-rows: auto auto auto ;
            row-gap: 3rem;
            column-gap: 2rem;
            padding-top: 4rem;
            >label{
                align-self: center;
                font: 400 1.2rem $text2;

            }
            >input{
                padding: 1rem;
                width: 100%;
                height: 3rem;
            }
            >textarea{
                padding:1rem;
            }
            >button{
                grid-column: 2/2;
                width: 70%;
                height: 2.4rem;
                align-items: center;
                justify-content: center;
                background: $third;
                color: $first;
                font: 500 1rem $text1;
                border-radius: 10px;
                border: none;
                &:hover{
                    opacity: 0.8;
                }
            }
        }


    }
}